@use "../../styles/variables" as v;

$bg-image-path: "../../assets/login-bg.jpg";

.landing {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  min-width: 100%;

  background: v.$bg-dark;
  color: v.$primary;
}

.login {
  display: flex;
  flex-direction: column;

  padding-block: 3.3rem;
  padding-inline: 11rem;

  @include v.media-xxl {
    padding-block: 19.7rem;
    padding-inline: 28.7rem;
  }

  &__logo {
    display: block;
    width: 34.9rem;
    @include v.media-md {
      display: none;
    }
  }

  &__title {
    margin-top: 7.6rem;

    @include v.media-md {
      margin-top: 0;
    }

    display: flex;
    gap: 0.3rem;
    flex-direction: column;

    color: v.$secondary;
    font-weight: 400;

    &--primary {
      @extend .typography-xxl;
    }
    &--secondary {
      @extend .typography-xs;

      max-width: 30rem;
    }
  }

  &__form {
    margin-top: 7.6rem;

    @include v.media-md {
      margin-top: 13.5rem;
    }

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &--title {
      @extend .typography-m;
    }

    &--input-group {
      margin-top: 2.5rem;

      display: flex;
      flex-direction: column;
      gap: 3.3rem;
    }

    &--button {
      margin-top: 13.1rem;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      padding-block: 2.3rem 1.7rem;

      background: v.$gradient-orange;
      box-shadow: v.$box-shadow-btn;

      border: none;
      border-radius: 5rem;

      @extend .typography-s-bold;
      color: v.$primary;

      @media (hover: hover) {
        &:hover {
          filter: brightness(1.1);
        }
      }
      transition: filter 0.2s;
    }
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    > &__icon,
    &__input {
      grid-row: 1 / 2;
    }

    &__icon {
      grid-column: 5 / -1;

      padding-right: 2.3rem;

      align-self: center;
      justify-self: flex-end;
    }

    &__input {
      grid-column: 1 / -1;

      padding: 2rem 2rem 1.6rem 2rem;

      display: flex;

      @extend .typography-xs;
      color: v.$secondary;

      background: transparent;

      border: 1px solid v.$primary;
      border-radius: 5rem;

      &::placeholder {
        color: inherit;
      }
    }
  }
}

.landing-image {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url($bg-image-path) no-repeat center center/cover;
  padding: 2.5rem;

  @include v.media-md {
    display: flex;
  }
}
