:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;

  & body {
    height: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  list-style: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  #app {
    display: flex;
    min-height: 100vh;
    width: 100vw;
  }
}
